<html>
<link rel="stylesheet" href="css/style.css">
<html lang="en">
<head>
	<title>About Us</title>
	<h1>About Us</h1>
	

	
</head>
<body>


<ul>
  <li><a href="index">Home</a></li>
  <li><a href="History of Money">History of Money</a></li>
  <li><a href="Pictures of Money">Pictures of money</a></li>
  <li><a href="How to make Money">How to make money</a></li>
</ul>

</html>

<html>
<head>
<link rel="stylesheet" href="style.css">


</head>

</body>
</html>