<!DOCtype HTML5>
<html lang ="en">

<link rel="stylesheet" href="css/style.css">
</div>
<header>


	<title>Coin Machine</title>
	
	
<ul>
  <li><a href="index">Home</a></li>
  <li><a href="History of Money">History of Money</a></li>
  <li><a href="Pictures of Money">Pictures of money</a></li>
  <li><a href="How to make Money">How to make money</a></li>
</ul>
</header>
<style type="text/css">
	
		div {
		background-color: rgba(255, 255,255,0.6);
	}
</style>
<body>
<div id="world" name="world" title="world">

</div>
</body>


</html>
