<!DOCtype HTML5>
<html lang ="en">
<div class="fixed-bg">
<link rel="stylesheet" href="css/style.css">
</div>

<header>
	
	<meta charset="utf-8">
	<title>Coin Machine Website</title>
	<meta name="description" content="Coin Machine Website">
	<meta name="author" content="Minedminds">
	<h1><i><b>Coin Machine Continued</b></i></h1>
	<p> Learn more!</p>
	<ul>
  <li><a href="index">Home</a></li>
  <li><a href="money_pics">Pictures of Money</a></li>
  <li><a href="make_money">How to make Money</a></li>
  <li><a href="history_money">History of Money</a></li>
  
</ul>

</header>
<body>
</div>
<div id="index_text" name="index_text" title="index">
<p><b><i>You have to have money to function in the real world!</i></b></p>

<p>
Let our coin machine do the hard work for you!
</div>

<div id="bar" name="cc" title="coinhanger">
<i>Enter some money and well make change for you</i>

<form method = 'post' action = '/index'>

	<input type = 'number' name = 'amount'>
	
	<input type = 'submit'>
</form> 
</body>
</html>