<!DOCtype HTML5>
<html lang ="en">


<link rel="stylesheet" href="css/style.css">

<header>
	<meta charset="utf-8">
	<meta name="author" content="Minedminds">
<ul>
  <li><a href="index">Home</a></li>
  <li><a href="History of Money">History of Money</a></li>
  <li><a href="Pictures of Money">Pictures of money</a></li>
  <li><a href="How to make Money">How to make money</a></li>
</ul>
</header>

<body>
</body>
</html>